*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

#chest{
    background-color: green;
}

#loot{
    background-color: blue;
}

#chest, #loot{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: transparent;
    border: none;
    transition: transform .2s;
}

button:hover{
    transform: scale(1.05);
}

button:active{
    transform: scale(1);
}